%h3= "#{@link.title}"


%h3= link_to @link.url, "#{@link.url}"


= form_for(@comment) do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= pluralize(@comment.errors.count, "error") + "prohibited this comment from being saved:"

      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    %br
    = f.text_field :title
  .field
    = f.label :url
    %br
    = f.text_field :url
  
  .actions= f.submit